<h2>Employee List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Employee Id </th>
            <th> Employee First Name </th>
            <th> Employee Last Name</th>
            <th> Employee email Id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees" >
            <td> {{ employee.id }}</td>
            <td> {{ employee.firstName}}</td>
            <td> {{ employee.lastName }}</td>
            <td> {{ employee.emailId}}</td>
        
        </tr>
    </tbody>
</table>
